# Copyright (c) 2009-2015, The Linux Foundation.
# SPDX-License-Identifier: BSD-3-Clause

import /init.recovery.qcom_decrypt.rc

service variant-script /system/bin/variant-script.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service overrideprops /system/bin/overrideprops.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on init
    start boot-hal-1-2
    #start boot-qti

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

on post-fs-data
    # Device variant setup
    exec u:r:init:s0 root system -- /system/bin/variant-script.sh

    # Ensure postinstall mount point exists and bind it to system for payload postinstall scripts
    mkdir /postinstall 0755 root root
    # Bind to /system by default; change to /system_ext or /vendor if your payload uses those
    mount none /postinstall /system bind

    # Ensure recovery has system security dir (otacert PEM will be copied into recovery by device.mk)
    mkdir -p /system/etc/security 0755 root root

on boot
    setprop sys.usb.config adb
    start variant-script
    start overrideprops

on property:twrp.modules.loaded=true
    # Mount persist
    mkdir /mnt/vendor/persist
    mount ext4 /dev/block/bootdevice/by-name/persist /mnt/vendor/persist ro

    # Mount firmware temporarily for loading ADSP
    mkdir /firmware
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /firmware ro

    # Load ADSP firmware for PMIC
    wait /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1

    # Bring up health + haptics
    wait /sys/class/power_supply/battery
    start health-hal-2-1
    start vendor.oplus.vibrator

    # Done with firmware
    umount /firmware

    # Create directories for OEM logical partitions and system_dlkm for mounts/backups
    mkdir /my_product /my_engineering /my_stock /my_carrier /my_region /my_bigball /my_heytap /my_manifest /system_dlkm

on property:twrp.all.users.decrypted=true
    umount /mnt/vendor/persist
